<form accept-charset="UTF-8" action="/login" method="post">

  <!-- Auth Token -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <!-- Username -->
  <input type="text" id="username" name="username" placeholder="Username">

  <!-- Password -->
  <input type="password" id="password" name="password" placeholder="Password">


  <!-- Login Button -->
  <button type="submit">Login</button>
</form>
