<div class="jumbotron jumbotron-lower">
  <% if @signed_in %>
    <h1><%= Community.first.name %></h1>
  <% else %>
    <h1>Comeals</h1>
  <% end %>


  <% if @signed_in %>
    <p>Urban co-housing in the historic Old Oakland neighborhood.</p>
  <% else %>
    <p>Where co-housing communities come to manage their common meals.</p>
  <% end %>

</div>

<% unless @signed_in %>
  <%= render 'login' %>
<% end %>
