<h1>Admin</h1>

<div class="row">
  <%= render 'create_meal_templates' %>
</div>
<br/>

<div class="row">
  <%= react_component 'ReconciliationButton', unreconciled_meal_count: @unreconciled_meal_count %>
</div>
