<%= javascript_include_tag 'report' %>

<br>

<h1 id="dates"></h1>

<ul>
  <li id="meals_count"></li>
  <li id="ave_number_of_attendees"></li>
  <li id="ave_cost"></li>
</ul>

<br>

<h2>Residents</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th id="resident_name">Name</th>
      <th id="resident_balance">Balance</th>
      <th id="number_of_meals_attended">Number of Meals Attended</th>
    </tr>
  </thead>
  <tbody id="residents_body">
  </tbody>
</table>

<br>

<h2>Units</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th id="unit_name">Name</th>
      <th id="unit_balance">Balance</th>
      <th id="number_of_meals_cooked">Number of Meals Cooked</th>
    </tr>
  </thead>
  <tbody id="units_body">
  </tbody>
</table>
