<div class="nested-fields well">
  <%= f.input :name, required: false %>
  <%= f.collection_select(
    :resident_id,
    Resident.order("units.name").includes(:unit).all,
    :id,
    lambda { |r| "#{r&.name} - #{r&.unit&.name}" },
    { include_blank: "Host" },
    { class: 'form-control' }
  ) %>

  <br>

  <%= f.collection_radio_buttons :multiplier, [[2, 'Adult'] ,[1, 'Child']], :first, :last %>
  <%= link_to_remove_association "remove", f, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
