<style>
#main {
  border: medium solid orange;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
</style>

<main id="main">
  <%= render partial: 'top', locals: { meal: @meal } %>
  <%= render partial: 'middle', locals: { meal: @meal } %>
</main>
