<div class="page-header">
  <h1>Residents</h1>
</div>

<%= link_to('New', new_resident_path, class: "btn btn-primary") if @admin %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Unit</th>
      <th><%= 'Actions' if @admin %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @residents %>
  </tbody>
</table>

<%= paginate @residents %>
